// Colors
$radius: 10px;

$transition: 0.4s;

$padding-large: 48px;
$background-primary: #f6f6f6;
$background-secondary: linear-gradient(
  180deg,
  #fff 0%,
  #6461610a 6%,
  #6461610a 94%,
  #fff 100%
);
$blue-primary: #206bc4;
$blue-secondary: #527ede;
$dark-primary: #232e3c;
$dark-secondary: #34495e;
$black: #191e22;
$red: #d63939;
$white: #fefefe;
$grey-light: #dbdcdd;
$grey-dark: #696969;
$shadow: rgba(0, 0, 0, 0.6);
