.button {
  color: $white;
  padding: 20px;
  border: none;
  outline: none;
  margin: $size-sm;
  border-radius: $size-sm;
  text-align: center;
  cursor: pointer;
  transition: background-color $transition, box-shadow $transition;

  &.primary {
    background-color: $blue-primary;

    &:hover {
      background-color: darken($blue-primary, 20%);
    }

    &:focus {
      @include shadow(rgb($blue-primary, 0.5));
    }
  }

  &.secondary {
    background-color: $black;

    &:hover {
      background-color: darken($black, 20%);
    }

    &:focus {
      @include shadow(rgb($black, 0.5));
    }
  }
}
