.scroll-up {
  width: 48px;
  height: 48px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: center;
  &.hidden {
    display: none !important;
  }
  i {
    font-size: 1.5rem;
  }
}
