html {
  font-size: 14px;
  @media (min-width: 576px) {
    font-size: 15px;
  }
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: $size-sm;
}
::-webkit-scrollbar-track {
  background: $white;
}
::-webkit-scrollbar-thumb {
  background: $blue-primary;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  padding: 0 $size-md;
  margin: 0 auto;
  @media (min-width: 576px) {
    width: 540px;
  }

  @media (min-width: 768px) {
    width: 720px;
  }

  @media (min-width: 992px) {
    width: 960px;
  }

  @media (min-width: 1200px) {
    width: 1140px;
  }
}

@import "./components/forms/buttons";
@import "./utilities/ellipsis";
ul.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $blue-primary;
}

.required {
  color: $red;
}

.text-danger {
  color: red;
}
