.header {
  position: sticky;
  top: 0;
  .navbar {
    background-color: $dark-primary;
    .container {
      @media (max-width: 992px) {
        width: 100%;
      }
    }
    .navbar-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .nav-brand {
        display: flex;
        align-items: center;
        padding: $size-sm;
        .brand {
        }

        .title {
          padding-inline-start: $size-sm;
          margin: 0;
          font-size: 1.25rem;
          color: $white;
        }
      }

      .toggle-links {
        display: none;
        background-color: transparent;
        margin-inline: $size-sm;
        align-items: center;
        justify-content: center;
        @media (max-width: 992px) {
          display: flex;
        }
        span {
          display: block;
          background-color: $white;
          border-radius: $size-sm;
          padding: $size-sm;
          cursor: pointer;
          transition: background-color $transition;

          &:hover {
            background-color: darken($white, 25%);
          }
          &:focus,
          &:focus-within {
            box-shadow: 0 0 0 4px rgb(255, 255, 255, 0.5);
          }
          i {
            font-size: 2rem;
          }
        }
      }

      .nav-links {
        display: flex;
        @media (max-width: 992px) {
          position: absolute;
          padding: $size-sm;
          top: 100%;
          left: 0;
          flex-direction: column;
          width: 100%;
          background-color: $dark-secondary;
          z-index: 6;
          li {
            a:not(.account) {
              &:hover,
              &.selected {
                background-color: darken($dark-secondary, 25%) !important;
              }
            }
          }
        }
        li {
          a:not(.account) {
            padding: 15px;
            color: $white;
            display: block;

            &::after {
              content: "";
              background-color: $white;
              width: 0;
              height: 3px;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              transition: width $transition;
            }
            &:hover,
            &.selected {
              background-color: $dark-secondary;
              &::after {
                width: 100%;
              }
            }
          }

          a.account {
            display: block;
            background-color: $white;
            color: $dark-primary;
            font-weight: bold;
            border-radius: 4px;
            padding: 15px;
            margin-inline: 4px;
            transition: opacity $transition, box-shadow $transition;

            &:hover {
              opacity: 0.7;
            }

            &:focus {
              box-shadow: 0 0 0 4px #ffffff66;
            }
          }
        }
      }

      .languages {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        div.change {
          cursor: pointer;
          color: $white;
          padding: 8px;
          font-size: 1.25rem;
          display: flex;
          align-items: center;
          i {
            margin-inline: $size-sm;
          }
        }
        img {
          width: 28px;
          margin: 0 7px;
          position: relative;
        }
        .select {
          display: none;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          background-color: $dark-primary;
          position: absolute;
          top: 90%;
          padding: 8px 4px;
          width: 218px;
          a {
            background-color: transparent;
            border: none;
            padding: 4px 8px;
            width: 100%;
            display: flex;
            align-items: center;
            color: $white;
            text-align: start;
            cursor: pointer;
            opacity: 1;
            transition: opacity 0.4s;
            &:hover,
            &.active {
              opacity: 0.7;
            }
          }
          &::after {
            content: "";
            width: 0;
            height: 0;
            border-width: $size-sm;
            border-style: solid;
            border-color: transparent transparent $dark-primary transparent;
            position: absolute;
            top: -16px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        &.change-language {
          .select {
            display: flex;
          }
        }
      }
    }
  }
}

.hidden-navbar-on-mobile {
  display: none !important;
}
