@import "../components/forms/input";

.contact {
  padding: 44px 0;
  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
    @media (max-width: 575.98px) {
      grid-template-columns: 1fr;
    }

    .contact-info {
      p {
        color: $grey-dark;
        margin-right: 30px;
        line-height: $line-height-lg;
        &:not(:first-of-type) {
          font-size: 1.5rem;
        }
      }

      ul {
        padding: 0 8px 4px;
        li {
          margin: 7px 0;
          i {
            font-size: 1.5rem;
            display: inline-block;
            vertical-align: middle;
            margin: 0 $size-sm 0 0;
          }
          &:first-child {
            display: flex;
            padding-right: $size-sm;
            img {
              width: 44px;
              margin-right: $size-sm;
            }
          }
        }
      }
    }
    .contact-form {
      p {
        color: $grey-dark;
        line-height: $line-height-lg;
      }
      label {
        display: block;
        color: $black;
        font-weight: bold;
        margin: $size-sm 0;
      }
      input {
        background-color: $grey-dark;
        color: $white;
        width: 88%;
        margin-bottom: $size-sm;
        @media (max-width: 767.98px) {
          width: 100%;
        }
      }
      textarea {
        display: block;
        background-color: $grey-dark;
        color: $white;
        width: 100%;
        margin-bottom: $size-sm;
        height: 150px;
        resize: vertical;
      }
      input[type="submit"] {
        padding: $size-sm;
        width: 100px;
      }
    }
  }
}
