.date {
  padding: $size-lg 0;
  background-color: $dark-primary;
  text-align: center;
  color: $white;
  p {
    padding: $size-sm;
  }
  .date-container {
    font-size: 3rem;
    color: $white;
  }
}
