.drop-zone {
  margin-top: 20px;
  width: 100%;
  height: 125px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  cursor: pointer;
  color: #cccccc;
  border: 2px dashed #4b4b4b;
  border-radius: $size-sm;
  &-over {
    border-style: solid;
  }
  &-input {
    display: none;
  }

  &-prompt {
    user-select: none;
  }

  &-thumb {
    width: 100%;
    height: 100%;
    border-radius: $size-sm;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
    &::after {
      content: attr(data-label);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 5px 0;
      color: #ffffff;
      background: rgba(0, 0, 0, 0.75);
      font-size: 1rem;
      text-align: center;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
}
