.landing {
  min-height: calc(100vh - 68px);
  display: grid;
  place-items: center;
  padding: 2rem;
  background-position: center;
  background-size: cover;
  text-align: center;
  @media (min-width: 992px) {
    padding: 4rem;
  }
  .overlay {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: $size-sm;
    border: 1px solid rgba(255, 255, 255, 0.1);

    @media (min-width: 992px) {
      padding: 4rem;
    }

    .overlay-inner {
      .overlay-title {
        font-size: 1.5rem;
        line-height: $line-height-lg;
        font-weight: 700;
        letter-spacing: -0.025em;
        margin-bottom: 1.5rem;
        color: $black;
        @media (min-width: 992px) {
          font-size: 1.875rem;
          line-height: 2.75rem;
          margin-bottom: 2rem;
        }
      }

      .overlay-description {
        margin-bottom: 2rem;
      }
      .overlay-buttons {
        display: flex;
        justify-content: center;
        .overlay-button {
          display: block;
          width: 200px;
          @media (min-width: 992px) {
            width: fit-content;
          }
        }
      }
    }
  }
}
