.news {
  padding: 48px 0;
  .news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .primary {
      width: 100%;
      height: 374px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (min-width: 992px) {
        flex-wrap: nowrap;
      }
      section {
        width: 100%;
        height: 100%;
        position: relative;
        @media (min-width: 992px) {
          width: 60%;
        }
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          object-position: center center;
        }
        a {
          color: $white;
          display: flex;
          align-items: center;
          font-weight: 500;
          padding: 15px;
          width: 70%;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;
          background: linear-gradient(
            to right,
            #000000e8 0%,
            #00000093 70%,
            #00000000 100%
          );
        }
      }
      article {
        display: none;
        line-height: $line-height-lg;
        font-size: 1.25rem;
        @media (min-width: 992px) {
          display: block;
          width: 38%;
        }
        p {
          color: $grey-dark;
          text-align: justify;
        }
      }
    }
    .secondary {
      margin-top: 14px;
      width: 49.7%;
      height: 180px;
      text-align: center;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      box-shadow: 4px 4px 8px $grey-light;
      @media (min-width: 992px) {
        width: 24%;
        height: 220px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        position: absolute;
        left: 0;
        top: 0;
        transition: transform 1s;
      }
      a {
        position: relative;
        z-index: 2;
        display: block;
        color: $white;
        text-align: justify;
        background: linear-gradient(
          to top,
          #000000e8 0%,
          #00000093 70%,
          #00000000 100%
        );
        padding: $size-sm;
      }
      &:hover {
        img {
          transform: scale(1.2, 1.2);
        }
      }
    }
  }
}
